
.page-header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

.page-header .top-bar {
    background-color: var(--color-primary-darker);
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity .2s;
}

.page-header .top-bar-container a:hover {
   opacity: .6;
}

.page-header .top-bar-container > img {
    height: 1.6rem;
}

.page-header .header-content {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.page-header .header-content strong {
    font: 700 3.6rem Oswald;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.page-header .header-content p {
    color: var(--color-text-in-primary);
    max-width: 30rem;
    margin-top: 2.4rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.header-content__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-content__description img {
    margin-right: 10px;
}

@media (min-width: 700px) {
    .page-header {
        height: 340px;
    }

    .page-header .top-bar-container {
        max-width: 1100px;
    }

    .page-header .header-content {
        flex: 1;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .page-header .header-content .header-content__description p {
        margin-top: 0;
    }
    .page-header .header-content strong {
        max-width: 350px;
        font-size: 4.6rem;
    }

    .page-header .header-content__title-block {
        max-width: 25vw;
    }
}