#page-landing {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-text-in-primary);
    background-color: var(--color-primary);
}

#page-landing-content {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#logo-container img {
    height: 6rem;
    max-width: 100%;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container h2 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 4.6rem;
}

.hero-image {
    max-width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font: 700 2rem Oswald;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--color-button-text);

    transition: all ease 0.2s;
}

.buttons-container a:first-child {
 margin-right: 1.6rem;
}

.buttons-container a img {
    width: 4rem;
    margin-right: 2.4rem;
}

.buttons-container a.study {
    background-color: var(--color-primary-lighter);
}

.buttons-container a.give-classes {
    background-color: var(--color-secondary);
}

.buttons-container a.study:hover {
    background-color: var(--color-primary-light);
}

.buttons-container a.give-classes:hover {
    background-color: var(--color-secondary-dark);
}

.total-connections {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.total-connections img {
    margin-left: .8rem;
}

@media (min-width: 1100px) {
    #page-landing-content {
        max-width: 100vw;
        text-align: left;

        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #page-landing-content .page-landing__description {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 70vh;
        width: 80vw;
        max-width: 1100px;
    }
    #page-landing-content .page-landing__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--color-background);
        width: 100vw;
        height: 30vh;
        color: var(--color-primary);
    }
    #page-landing-content .page-landing__actions .page-landing__actions-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80vw;
        max-width: 1100px;
    }
    .page-landing__actions .welcome-message {
        font-size: 2rem;
        line-height: 3rem;
    }
    .logo-container {
        align-self: center;
        margin: 0;
        text-align: left;
    }
    .logo-container h2 {
        text-align: initial;
        font-size: 3.6rem;
    }
    #logo-container img {
        height: 12rem;
    }
    .hero-image{
      justify-self: end;
    }
    .buttons-container {
        justify-content: flex-start;
    }
    .buttons-container a {
        font-size: 2.4rem;
    }
    .total-connections {
        text-align: right;
    }
}