:root {
  font-size: 60%;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', cursive;

  --color-background: #F0F0F7;
  --color-primary-lighter: #396baa;
  --color-primary-light: #5793ce;
  --color-primary: #173d7a;
  --color-primary-dark: #774DD6;
  --color-primary-darker: #0f3979;
  --color-secondary: #ff2c9c;
  --color-secondary-dark: #ffa9d6;
  --color-title-in-primary: #FFFFFF;
  --color-text-in-primary: #d4ecff;
  --color-text-title: #d4ecff;
  --color-text-complement: #a9a9a9;
  --color-text-base: #6A6180;
  --color-line-in-white: #E6E6F0;
  --color-input-background: #F8F8FC;
  --color-button-text: #FFFFFF;
  --color-box-base: #FFFFFF;
  --color-box-footer: #FAFAFC;

}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
}

body {
  background-color: var(--color-background);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

body, input, button, textarea {
  font: 500 1.6rem Montserrat;
  color: var(--color-text-base);
}

button {
  text-transform: uppercase;
}

.container {
  width: 90vw;
  max-width: 800px;
}

@media(min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}